@{
  List<Comment> comments = Model["Recipe"].Comments;
  string recipeTitle = Model["Recipe"].Title;
}

<h1>Add Comment to @recipeTitle</h1>
@await Html.PartialAsync("_CommentsList", comments)
<hr />
@await Html.PartialAsync("_AddComment")
<hr />
<p>@Html.ActionLink("return to recipe", "Details", "Recipes", new { id = Model["Recipe"].RecipeId }, new { @class = "btn btn-primary btn-sm"})</p>