@model RecipeBox.Models.Recipe

@{
  ViewData["Title"] = "Add Steps";
}

<h1>Add Steps to @Model.RecipeId</h1>
<hr />
@using (Html.BeginForm("AddStep", "Recipes", "post"))
{
  @Html.HiddenFor(model => model.RecipeId)

  <div id="stepsContainer">
    <div class="form-group">
      <label for="step0">Step 1:</label>
      <input class="form-control" type="text" id="step0" name="Steps[0].Description" />
    </div>
  </div>

  <button type="button" id="addStep" class="btn btn-success">Add Step</button>
  <button type="submit" class="btn btn-primary" value="Add">Save Steps</button>
}
