<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <a class="navbar-brand" asp-controller="Home" asp-action="Index">
    <h1>RecipeBox</h1>
  </a>
  <div class="nav-item">
        <a class="nav-link" asp-action="Create" asp-controller="Recipes">Add a Recipe</a>
  </div>
  <div class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Recipes">Find a Recipe</a>
  </div>
    <div class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Ingredients">All Ingredients</a>
  </div>

</nav>
