<nav class="navbar navbar-expand-lg navbar-light bg-light m">
  <a class="navbar-brand" asp-controller="Home" asp-action="Index">
    <h1>RecipeBox</h1>
  </a>
  <li class="nav-item">
        <a class="nav-link" asp-action="Create" asp-controller="Recipes">Add a Recipe</a>
  </li>
  <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Recipes">Find a Recipe</a>
  </li>
  </li>
</nav>
