@{
    ViewData["Title"] = "Home";
}
<h1>recipe box home index</h1>
<h3>recipe box subheading</h3>
<p>@Html.ActionLink("Recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("Meal Types List", "Index", "Types")</p>
