@{
    ViewData["Title"] = "Home";
}
<h1>recipe box home index</h1>
<h3>recipe box subheading</h3>
<p>@Html.ActionLink("Recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("meal types", "Index", "Meals")</p>
<hr />
<p>@Html.ActionLink("See all comments", "Index", "Comments")</p>
