@model RecipeBox.Models.Step

<h2>Steps Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Recipe): @Html.DisplayFor(model => model.Recipe.Title)</h3>
<h3>@Html.DisplayNameFor(model => model.StepIndex): @Html.DisplayFor(model => model.StepIndex)</h3>


